/*==================================
1. Variables / Settings 
2. Layout / Grid 
3. Typography
4. Components 
5. Pages 
===================================*/
@import 'app/functions.scss';

h1 { @include main-heading; }
h2{ @include secondary-heading; }
p { @include body-font; }
h2.sub-head { @include sub-heading; }

.hero{
  background: $brandPallete6;
  padding:2em;
  margin-bottom: 2em;
}
.btn{
  @include btn-large;
}