@import 'reset';
@import 'settings';

@mixin main-heading{
  color: $primary-heading-color;
  font-family: $primary-heading-font;
  font-size: $primary-heading-size;
  font-style: $primary-heading-fontStyle;
  line-height: $primary-heading-lineHeight;
  margin-bottom: $primary-heading-marginBottom;
  
}

@mixin secondary-heading{
  color: $secondary-heading-color;
  font-family: $secondary-heading-font;
  font-style: $secondary-heading-fontStyle;
  font-size: $secondary-heading-size;
  line-height:$secondary-heading-lineHeight ;
  margin-bottom:$secondary-heading-marginBottom;
}

@mixin sub-heading{
  color: $sub-heading-color;
  font-family: $sub-heading-font;
  font-size: $sub-heading-size;
  font-style: $sub-heading-fontStyle;
  font-weight: $sub-heading-fontWeight;
  line-height: $sub-heading-lineHeight;
  margin-bottom: $sub-heading-marginBottom ;
}
@mixin body-font{
  color: $body-color;
  font-family: $body-font;
  font-size: $body-size;
  font-style: $body-fontStyle;
  font-weight: $body-fontWeight;
  line-height: $body-lineHeight;
  margin-bottom: $body-marginBottom ; 
}

@mixin section-color($brand-color){
  background-color: $brand-color;
}

@mixin btn{
  display: inline-block;
  text-align:center;
  vertical-align:bottom;
  zoom:1;
}

@mixin btn-styles{

  background-color:$btn-color;
  border: $btn-border;
  border-radius: $btn-radius;
  color:$btn-txt-color;
  font-family:$btn-font;
  padding:$btn-padding;
  text-transform: $btn-text-transform;
}

@mixin btn-large{
  @include btn;
  @include btn-styles;  
  height: $btn-height-large;
  width: $btn-width-large;
}

@mixin btn-medium{
  @include btn;
  @include btn-styles;
  height: $btn-height-medium;
  width:$btn-width-medium;
}

@mixin btn-small{
  @include btn;
  @include btn-styles;
  height: $btn-height-small;
  width:$btn-width-small;
}

@mixin input{
  -webkit-appearance: none;
  background-color:$input-color;
  border: $input-border;
  border-radius: $input-radius;
  color:$input-txt-color;
  font-family:$input-font;
  padding:$input-padding;
  width: $input-width;
  height:$input-height;
  text-transform: $input-text-transform;
}

@mixin input-focus{
  -webkit-appearance: none;
  background-color:$input-focus-color;
  color:$input-focus-txt-color;
  border-radius: $input-focus-radius;
  border: $input-focus-border;
  font-family:$input-focus-font;
  padding:$input-focus-padding;
}

