//Fonts
$brand-font-1:"proxima-nova",sans-serif;
$brand-font-2:"adelle",serif;

//Color Pallete
$brandPallete1:#132B44;
$brandPallete2: #E74F2A;
$brandPallete3: #A0A0A0;
$brandPallete4: #2496DD;
$brandPallete5: #EAB843;

//Background Colors

$brandPallete6: #F3F3F3;/*BG-1*/
$brandPallete7:#D1D1D1;/*BG-2*/


//Primary Heading 
$primary-heading-color: $brandPallete1;
$primary-heading-font: $brand-font-1; 
$primary-heading-fontStyle:normal;
$primary-heading-fontWeight:600;
$primary-heading-lineHeight: 1.5em;
$primary-heading-marginBottom: .5em;
$primary-heading-size: 2.5em;
$primary-heading-text-transform:none;

//Secondary Heading 
$secondary-heading-color:$brandPallete1;
$secondary-heading-font: $brand-font-1; 
$secondary-heading-size: 1.5em;
$secondary-heading-fontStyle:normal;
$secondary-heading-fontWeight:400;
$secondary-heading-lineHeight: 1.25em;
$secondary-heading-marginBottom: 1em;
$secondary-heading-text-transform:uppercase;

//Sub Heading 
$sub-heading-color:$brandPallete2 ;
$sub-heading-font: $brand-font-1; 
$sub-heading-size: 1.5em;
$sub-heading-fontStyle:italic;
$sub-heading-fontWeight:600;
$sub-heading-lineHeight: 1.25;
$sub-heading-marginBottom:0 ;
$sub-heading-text-transform:none;

//Paragraph
$body-color:default ;
$body-font:$brand-font-1 ; 
$body-size: 1.25em;
$body-fontStyle:normal;
$body-fontWeight:400;
$body-lineHeight: 1.5;
$body-marginBottom:2em ;
$body-text-transform:none;

//Buttons
$btn-color:$brandPallete4;
$btn-txt-color:white;
$btn-font:$brand-font-1;
$btn-text-transform:uppercase;
$btn-border: none;
$btn-radius:6px;
$btn-hover-color:#2180BB;
$btn-padding:1em;

/*Large*/
$btn-height-large:auto;
$btn-width-large:300px;
/*Medium*/
$btn-height-medium:auto;
$btn-width-medium:200px;
/*Small*/
$btn-height-small:auto;
$btn-width-small:150px;


//Form 
$input-color:white;
$input-txt-color:default;
$input-font:$brand-font-1;
$input-text-transform:none;
$input-border: 1px solid $brandPallete7;
$input-radius:4px;
$input-padding:.75em;
$input-width:60%;
$input-height:auto;

/*Focus Styles*/
$input-focus-color:$brandPallete6;
$input-focus-txt-color:default;
$input-focus-font:$brand-font-1;
$input-focus-text-transform:none;
$input-focus-border: 2px solid $brandPallete4;
$input-focus-radius:6px;
$input-focus-padding:.75em;

